<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/site.css" />
    <script src="js/site.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", getItems, false);
    </script>
</head>
<body>
    <p id="counter"></p>
    <table class="sortable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Height</th>
                <th>Mass</th>
                <th>Films</th>
            </tr>
        </thead>
        <tbody id="personnages"></tbody>
    </table>
    <script src="js/sort-table.js"></script>
</body>
</html>